// --------------------------colors-------------------------------
$basic-decore-color: #C4C4C4;
$secondary-decore-color: #F6F7F9;
$third-decore-color: #F6F7F9;
$general-background-color: #FFF;

$basic-text-color: #1A202C;
$headers1-text-color: #1A202C;
$headers2-text-color: black;
$header-unselected-items-color: #fff;
$header-selected-items-color: #1A202C;


$shadow-color: #F3F3F3;

//---------------------------sizes----------------------------------

$general-page-width: 1440px;

$headers1-font-size: 46px;
$headers2-font-size: 48px;
$headers3-font-size: 35px;
$main-font-size: 18px;
$small-font-size: 16px;
$tiny-font-size: 14px;

$padding-main: 50px;
$gap-main: 20px;

//---------------------------margins\paddings----------------------------------
$padding-top-section-gap: 100px;
$side-padding: 50px;

//---------------------------fonts----------------------------------
$main-font-family: "Plus Jakarta Sans", sans-serif;
$testemonials-font-family: "Rubik", sans-serif;

$main-font-weight: 400;
$headers-font-weight: 600;
$secondary-font-weight: 500;
