
.loader {
  position: absolute;
  background-color: $third-decore-color;
  width: 1330px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__spinner {
    width: 100px;
    height: 100px;
  }
}