.pictures {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: $third-decore-color;
  overflow: hidden;

  @media screen and (max-width: $desktop) {
  padding-top: 60px;
  padding-bottom: 60px;
  }

  @media screen and (max-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__list {
    @include flex(center, space-between);
    gap: 32px;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
      gap: 22px;
    }
    &-item {
      width: 50%;
      max-height: 360px;
      object-fit: cover;

      @media screen and (max-width: $tablet) {
        width: 100%;
      }
    }
  }
}
