@import "../helper/variables.scss";
@import "../helper/mixins.scss";
@import "../helper/fonts.scss";

.popular {
  background-color: $third-decore-color;

  &__header {
    @include font($headers2-font-size, $secondary-font-weight, $headers2-text-color);
    text-align: center;
    margin-top: 100px;
    max-width: 630px;
  }
  &__description {
    @include font($main-font-size, $main-font-weight, $basic-text-color);
    text-align: center;
    padding-top: 0px;
    margin-top: 20px;
    max-width: 530px;
  }
  &__cars {
    @include flex (start, center);
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
  }

  & .container {
    @include flex(center, center, column);
    padding-bottom: 200px;
  }
}