@import "../helper/variables.scss";
@import "../helper/mixins.scss";
@import "../helper/fonts.scss";

.popular__tabs__container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
  cursor: pointer
}

.tab {
  @include font(22px, 500, #90A3BF);
  line-height: 33px;
  width: 100%;
  padding-bottom: 35px;
  text-align: center;
  border-bottom: 1px solid #90A3BF;

  &--active {
    @include font(22px, 600, $basic-text-color);
    line-height: 33px;
    border-bottom: 4px solid $basic-text-color;
  }
}

.carTypeWrapper {
  display: none;
}

.popular__cars__container {
  width: 100%;
  margin-top: 50px;
  @include flex (center,start);
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 1105px){
  .popular__cars__container {
    @include flex (center,center);
  }
}

@media screen and (max-width: 600px){
  .popular__tabs__container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50px;
    margin-top: 10px;
    width: 200px;
  }
}
