@import "../helper/variables.scss";
@import "../helper/mixins.scss";
@import "../helper/fonts.scss";

.popular__tabs__container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px
}

.tab {
  @include font(22px, 500, #90A3BF);
  line-height: 33px;
  width: 100%;
  padding-bottom: 35px;
  text-align: center;
  border-bottom: 1px solid #90A3BF;

  &--active {
    @include font(22px, 600, $basic-text-color);
    line-height: 33px;
    border-bottom: 4px solid $basic-text-color;
  }
}

.carTypeWrapper {
  display: none;
}

.content--active,
.popular__cars__container {
  max-width: 1330px;
  margin-top: 50px;
  @include flex (center,start);
  flex-wrap: wrap;
  gap: 30px;
}
