@import "./helper/reset.scss";
@import "./helper/variables.scss";
@import "./helper/mixins.scss";
@import "./helper/fonts.scss";
@import "./helper/layout.scss";

@import "./component/carCardComponent.scss";
@import "./component/TabsSection.scss";
@import "./component/testimonials.scss";
@import "./component/footer.scss";
@import "./component/howWork.scss";
@import "./component/navigation.scss";
@import "./component/select.scss";
@import "./component/hero.scss";
@import "./component/PopularDealsSection.scss";
@import "./component/loader.scss";

#header,
#footer,
.container {
  font-family: "Plus Jakarta Sans", sans-serif;
}

#header,
.container {
  max-width: 1310px;
  margin: 0 auto;
  position: relative;
}
