@import "./helper/reset.scss";
@import "./helper/variables.scss";
@import "./helper/mixins.scss";
@import "./helper/fonts.scss";
@import "./component/carCardComponent.scss";
@import "./component/TabsSection.scss";

@import "./component/select.scss";

* {
  font-family: var(--headers-font-family);
  animation: global;
  animation-duration: 0.5s;
}

@keyframes global {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header,
#footer,
.container {
  font-family: "Plus Jakarta Sans", sans-serif;
  
}

#header,
#footer,
.container {
  max-width: 1310px;
  margin: 0 auto;
}
